name: Release Charts

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  release:
    name: Release Charts
    runs-on: ubuntu-latest
    permissions:
      contents: write # to publish chart releases
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Generate Bot Token
        id: generate_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.RELEASE_BOT_APP_ID }}
          private-key: ${{ secrets.RELEASE_BOT_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
          persist-credentials: true
          token: ${{ steps.generate_token.outputs.token }}

      - name: Configure Git
        uses: TimSchoenle/actions/actions/common/setup-app-git-identity@5e76fd2889fa615725953e0a4a06d5bb5f893e86 # actions-common-setup-app-git-identity-v1.1.0
        with:
          app-slug: ${{ steps.generate_token.outputs.app-slug }}
          token: ${{ steps.generate_token.outputs.token }}

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        with:
          # We currently can't use a passphrase since this means we can't export the key to the legacy format
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}

      - name: Export GPG key to legacy format
        run: gpg --export-secret-keys > ~/.gnupg/pubring.gpg

      - name: Setup Helm Environment
        uses: ./.github/actions/setup-helm

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f # v1.7.0
        with:
          config: ./.github/configs/cr.yaml
        env:
          CR_TOKEN: ${{ steps.generate_token.outputs.token }}